<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
	<link th:href="@{/style/util.css}" rel="stylesheet"/>
	<link th:href="@{/style/style.css}" rel="stylesheet"/>
</head>
<body>
	
	<div id="wrapper">
	
		<!-- WEB APP Logo  -->
		<div class="center ptb-36">
			<img id="logo" src="https://aid-frontend.prod.atl-paas.net/atlassian-id/front-end/5.0.273/static/media/trello-logo-blue.f7627b3a.svg">
		</div>
	
		<!-- SIGN UP : Component -->
		<div id="auth-panel">
		
			<div class="center pb-24">
				<span class="header">Choose your own adventure</span>
			</div>
		
			<div>
			<a 
				class="input input-button input-button--green" 
				th:href="@{/signin}">Sign In</a>
			</div>
		
			<div class="mt-16">
				<a 
					class="input input-button input-button--blue" 
					th:href="@{/signup}">Sign Up</a>
			</div>
		</div>
	</div>

</body>
</html>