<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>FatCatShop</display-name>
  
  <servlet>
  	<servlet-name>home_servlet</servlet-name>
  	<servlet-class>com.netit.servlets.HomeServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>home_servlet</servlet-name>
  	<url-pattern>/home</url-pattern>
  </servlet-mapping>
  
    <servlet>
  	<servlet-name>shop_servlet</servlet-name>
  	<servlet-class>com.netit.servlets.ShopServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>shop_servlet</servlet-name>
  	<url-pattern>/shop</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>