#wrapper {
	margin		: auto;
	width		: 400px;
}

#logo {
	width: 178px;
}

#auth-panel {
	margin		: auto;
	width		: 400px;
	padding		: 30px 36px;
	background	: #fff;
	box-shadow	: rgb(0 0 0 / 10%) 0px 0px 10px 0px;
}

.header {
	font-size	: 16px;
    font-family	: "Segoe UI";
    color		: rgb(94, 108, 132);
    font-weight	: bold; 
}
